@import"https://unpkg.com/open-props/easings.min.css";

:root {
    --color-1: oklch(0.67 0.23 12.3 / 1);
    --color-2: oklch(0.74 0.17 34.45);
    --color-3: oklch(0.87 0.14 83.63);
    --color-4: oklch(0.71 0.17 161.22);
    --color-5: oklch(0.63 0.15 206.52);
    --color-6: oklch(0.59 0.23 270.24);

    --color-neutral-050: oklch(0.97 0.01 291.07);
    --color-neutral-100: oklch(0.91 0.01 291.03);
    --color-neutral-200: oklch(0.83 0.01 290.97);
    --color-neutral-300: oklch(0.74 0.01 290.89);
    --color-neutral-400: oklch(0.66 0.03 289.95);
    --color-neutral-500: oklch(0.57 0.03 289.69);
    --color-neutral-600: oklch(0.49 0.03 288.73);
    --color-neutral-700: oklch(0.31 0.04 286);
    --color-neutral-800: oklch(0.23 0.03 286.47);
    --color-neutral-900: oklch(0.18 0.02 290.7);

    --global-uiColor: var(--color-6);
    --global-textColor: var(--color-neutral-800);
    --global-textColor-muted: var(--color-neutral-600);
    --global-textColor-meta: var(--color-neutral-500);
    --global-backgroundColor: var(--color-neutral-100);
    --global-foregroundColor: white;

    --global-fontSize: 14;

}

/* @media (prefers-color-scheme: dark) {
    :root {
        --global-textColor: var(--color-neutral-100);
        --global-textColor-muted: var(--color-neutral-300);
        --global-textColor-meta: var(--color-neutral-500);
        --global-backgroundColor: var(--color-neutral-900);
        --global-foregroundColor: var(--color-neutral-800);
    }
} */

[data-theme="dark"] {
    --global-textColor: var(--color-neutral-100);
    --global-textColor-muted: var(--color-neutral-300);
    --global-textColor-meta: var(--color-neutral-500);
    --global-backgroundColor: var(--color-neutral-900);
    --global-foregroundColor: var(--color-neutral-800);
    --global-input-background: var(--color-neutral-700);
}

/* [data-theme="light"] {
    --global-textColor: var(--color-neutral-800);
    --global-textColor-muted: var(--color-neutral-600);
    --global-textColor-meta: var(--color-neutral-500);
    --global-backgroundColor: var(--color-neutral-100);
    --global-foregroundColor: white;
    --global-input-background: var(--color-neutral-100);
} */

/* reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Inter", sans-serif;
    line-height: 1.5;
    color: var(--global-textColor);
    background-color: var(--global-backgroundColor);
    font-size: calc(var(--global-fontSize)/16*1rem);

    /* font smoothing */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    min-height: 100vh;
    padding: 1rem;
    display: grid;
    grid-template-columns: minmax(0, 400px);
    place-content: center;
}

img,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}

h2 {
    font-weight: 500;
    font-size: calc(16/var(--global-fontSize)*1rem);
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

/*
    Object: Button reset
    ---
    Small button reset object
*/

.button-reset {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

.flow>*+* {
    margin-top: 1.5rem;
}

.app {
    /* max-width: 22rem; */
    max-width: fit-content;
    margin: 0 auto;
    background-color: var(--global-foregroundColor);
    padding: 1.5rem;
    border-radius: 1rem;
}

.app__output {
    /* display: flex; */
    flex-wrap: wrap;
    /* flex-direction: row-reverse; */
    /* justify-content: space-around; */
    justify-content: space-between;
    gap: 1.5rem;
    align-items: end;
}

.chart {
    /* max-width: 22rem; */
    overflow: visible;
}

.chart__path {
    stroke-dasharray: var(--stroke-dasharray) var(--path-length);
    stroke-dashoffset: var(--stroke-dashoffset);
    /* stroke-linecap: round; */
    transition: all .2s ease-in-out;
    stroke: var(--strokeColor);
}

.legend,
.controls {
    list-style: none;
}

.controls {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem 1rem;
}

.control__label {
    display: block;
    /* padding: .5rem 1rem; */
    border-radius: 3rem;
    /* background-color: var(--global-input-background); */
    color: var(--global-textColor-meta);
    transition: all .1s ease-in-out;

    &:has(input:checked) {
        /* background-color: var(--global-uiColor); */
        color: var(--global-uiColor);
        /* color: white; */
    }
}

.legend {
    font-feature-settings: "tnum";
}

.legend__item {
    display: flex;
    align-items: center;
    gap: 1rem;
    /* justify-content: space-between; */
}

.legend__key {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-shrink: 0;
    color: var(--global-textColor-muted);

    &::after {
        content: '';
        display: inline-block;
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        background-color: var(--legendColor);
    }
}

/* theme toggle */

.theme-toggle {
    --size: 2rem;
    --icon-fill: var(--global-textColor);
    --icon-fill-hover: var(--global-textColor-meta);

    width: var(--size);
    height: var(--size);
    aspect-ratio: 1;
    border-radius: 50%;

    cursor: pointer;
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
    outline-offset: 5px;

    position: absolute;
    top: 1rem;
    right: 1rem;
}

.theme-toggle__icon {
    width: 100%;
    height: 100%;
    stroke-linecap: round;
    stroke-width: 1.5;

    &> :is(.moon, .sun, .sun-beams) {
        transform-origin: center center;
    }

    &> :is(.moon, .sun) {
        fill: var(--icon-fill);
    }

    &>.sun-beams {
        stroke: var(--icon-fill);
    }

    [data-theme="dark"] & {
        &>.sun {
            transform: scale(1.75);
        }

        &>.sun-beams {
            opacity: 0;
        }

        &>.moon>circle {
            transform: translateX(-7px);
            transform: translateX(0);
            cx: 17;
        }
    }


    &>.sun {
        transition: transform .5s var(--ease-elastic-3);
    }

    &>.sun-beams {
        transition:
            transform .5s var(--ease-elastic-4),
            opacity .5s var(--ease-3);
    }

    & .moon>circle {
        transition: transform .25s var(--ease-out-5);
        transition: cx .25s var(--ease-out-5);
    }

    [data-theme="dark"] & {
        &>.sun {
            transform: scale(1.75);
            transition-timing-function: var(--ease-3);
            transition-duration: .25s;
        }

        &>.sun-beams {
            transform: rotateZ(-25deg);
            transition-duration: .15s;
        }

        &>.moon>circle {
            transition-delay: .25s;
            transition-duration: .5s;
        }
    }
}

.color-muted {
    color: var(--global-textColor-muted);
}

.color-meta {
    color: var(--global-textColor-meta);
}